body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FF0000;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    color: #FF0000;
}

button {
    background-color: #000;
    color: #FF0000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

button:hover {
    background-color: #222;
}

.logo {
    background-image: url('/Users/bouznira/Desktop/Checkers2/static/logo.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
